/*Main*/
main {
    height: 80vh;
}

/*Detalle*/


/*imagen acorde al carrusel*/
.carousel-item img {
    object-fit: contain;
    object-position: center;
    height: 80vh;
    overflow: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*Registro*/
#btnSesion {
    background-color: black;
    color: white;
}

#btnRegistro {
    background-color: black;
    color: white;
}



/*RESPONSIVE*/
@media (max-width: 425px) {
    .sub-header {
        display: none;
    }

    .sub-header-burger {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .sub-header-burger ul {
        margin: 0px;
        padding: 0px;
    }

    .sub-header-burger ul li {
        display: inline-block;
    }

    .sub-header-burger div {
        display: inline-block;
    }

    .sub-footer-compra {
        flex-direction: column;
    }

    .sub-footer-copy {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .sub-header {
        font-size: 14px;
    }

    .compra-subtitulos {
        display: none;
    }
}